{% extends "tipicss::/templates/default/index.twig" %}

{% block head %}

{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <h1>Foo</h1>
{% endblock %}

{% block footer %}{% endblock %}

{% block foot %}
    <script src="/main/javascripts/main.js"></script>
    <script src="/templates/default/javascripts/default.js"></script>
    <script src="/groups/frontpage/javascripts/frontpage.js"></script>
{% endblock %}