{% extends "tipicss::/templates/default/index.twig" %}

{% block head %}
    <link rel="stylesheet" href="/groups/frontpage/stylesheets/index.css" type="text/css">
{% endblock %}

{% block header %}{% endblock %}

{% block content %}

    <div class="valign">
        <div class="valign__body">
            <div class="wrapper">
                <div class="combined">
                    <div class="combined__body">
                        <h1>Foo</h1>
                    </div>
                    <div class="combined__aside">
                        <h2>Bar</h2>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}{% endblock %}

{% block foot %}
    <script src="/main/javascripts/index.js"></script>
    <script src="/templates/default/javascripts/index.js"></script>
{% endblock %}