{% extends "tipicss::/templates/default/index.twig" %}

{% block head %}
    <link rel="stylesheet" href="/groups/frontpage/stylesheets/index.css" type="text/css">
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <h1>Foo</h1>
{% endblock %}

{% block footer %}{% endblock %}

{% block foot %}
    <script src="/main/javascripts/index.js"></script>
    <script src="/templates/default/javascripts/index.js"></script>
{% endblock %}