{% extends "tipicss::/templates/default/index.twig" %}

{% block head %}
    <link rel="stylesheet" href="/groups/frontpage/stylesheets/index.css" type="text/css">
{% endblock %}

{% block header %}{% endblock %}

{% block content %}

    <div class="valign">
        <div class="valign__body">
            <div class="wrapper">
                <h1>Welcome to Tipicss</h1>
                <p class="lead">Lightweight <strong>modular</strong> prototyping framework with OOCSS &amp ITCSS principles;</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}{% endblock %}

{% block foot %}
    <script src="/main/javascripts/index.js"></script>
    <script src="/templates/default/javascripts/index.js"></script>
{% endblock %}