{% extends "tipicss::/templates/default/index.twig" %}

{% block head %}

    {% set stylesheets = [
        '/templates/default/stylesheets/index.css',
        '/groups/frontpage/stylesheets/index.css',
    ] %}

    {% for stylesheet in stylesheets %}
        <link rel="preload" href="{{ stylesheet }}" as="style" onload="null;this.rel='stylesheet'" />
        <noscript>
            <link rel="stylesheet" href="{{ stylesheet }}" type="text/css">
        </noscript>
    {% endfor %}

{% endblock %}

{% block header %}{% endblock %}

{% block content %}

    <div class="valign">
        <div class="valign__body">
            <div class="wrapper">
                <h1 class="display1">Welcome to Tipicss</h1>
                <p class="lead">Lightweight <strong>modular</strong> prototyping framework with OOCSS &amp ITCSS principles;</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}{% endblock %}

{% block foot %}
    <script src="/main/javascripts/index.js"></script>
    <script src="/templates/default/javascripts/index.js"></script>
{% endblock %}